[submodule "lint-reference"]
	path = lint-reference
	url = git://srobo.org/pyenv-dummy.git
[submodule "pyenv"]
	path = pyenv
	url = git://srobo.org/pyenv.git
[submodule "include/auth/sso"]
	path = include/auth/sso
	url = git://srobo.org/~plaw/sso.git
